<ion-header>
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Grcoery List
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Milk</h2>
        <h3>1</h3>
        <p>Almond</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Bread</h2>
        <h3>1</h3>
        <p>Whole Wheat</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Eggs</h2>
        <h3>1 dozen</h3>
        <p>Grade A Large</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Spaghetti</h2>
        <h3>1</h3>
        <p>Whole Wheat</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>